{{! Default Author Social Icons }}

<ul class="icons">
    <li><a href="http://facebook.com/sonia.uppal.564" class="icon fa-facebook"></a></li>
    <li><a href="http://twitter.com/pialacode" class="icon fa-twitter"></a></li>
    <li><a href="http://plus.google.com/+soniauppalisactuallyfeb" class="icon fa-google-plus"></a></li>
</ul>
